@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900|Merriweather:300,400,700,900');
@import url('variables.css');
@import url('components/buttons.css');
@import url('components/cards.css');
@import url('components/forms.css');

*{
    margin: 0;
    padding: 0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    color: var(--Main-color);
}

h1{
    text-align: center;
}

h2{
    margin: 10px 0 1px 20px;
}

h4{
    margin: 10px 20px;
}

.colorbox{
    margin: 15px auto;
    height: 80px;
    width: 600px;
    padding: 5px;
    font-weight: bold;
    text-align: center;
    border: solid black;
}

.main{
    color: white; 
    background: var(--Main-color);
}
.secondary{
    color: white; 
    background: var(--Secondary-color);
}
.important{
    color: white; 
    background: var(--Important-color);
}

.family p, .normaal p {
    color: var(--Important-color);
    text-align: center;
}

.groot p{
    color: var(--Important-color);
    text-align: center;
    font-size: 130%;
}

.buttons{
    margin: 0 200px;
}

.login{
    background: var( --Secondary-color);
    border: solid 1px #70707056;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width: 250px;
    height: 25px;
    font-weight: bolder;
    border-radius: 6px;
    margin:20px; 
}

.go{
    background: var( --Secondary-color);
    color: white;
    border-radius: 0 6px 6px 0;
    font-weight: bolder;
    font-size: 120%;
    height: 30px;
    width: 40px;
    border: none;
    margin:20px; 
}